[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/sjkiss/sjkiss.github.io.git
	branch = master
[submodule "content/post/external_data/ON22"]
	path = content/post/external_data/ON22
	url = https://github.com/LISPOP/ON22
